.sign-in{
    &-no-account-text{
        text-align: center;
        margin-top: 8px;
        font-size: 12px;
        line-height: 20px;
        color: #8C8C8C;
    }
    &-no-account-link{
        color: #1890FF
    }
}