@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

html,body,div,span,p,a,img,ul,li,form,label,article,header{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline; font-family: 'Inter', sans-serif;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
html{height:100%}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
table{border-collapse:collapse;border-spacing:0;margin-bottom: 0;}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}

body {
    background: #EBEEF3;
    color: #000000BF;
  }

  a {
    text-decoration: none;
    color: #000000BF;
  }